<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">

    <!-- 根据学号查询学生-->
    <select id="queryStudentBySno" resultType="User" >
        select * from student where sno=#{sno}
    </select>

    <!--查询所有老师-->
    <select id="queryTeacherList" resultType="Teacher" >
        select * from teacher
    </select>

    <!--查询所有学生-->
    <select id="queryStudentList" resultType="User">
        select * from student
    </select>

    <!--添加用户-->
    <insert id="addStudent" parameterType="User">
        insert into student(sno,sname,sgrade,sphone,sschool,sdept,sinfo,steacher) values (#{sno},#{sname},,#{sgrade},#{sphone},#{sschool},#{sdept},#{sinfo},#{steacher})
    </insert>

    <!--更新用户信息-->
    <update id="updateStudent" parameterType="User">
        update student set sname=#{sname},sgrade=#{sgrade},sphone=#{sphone},sschool=#{sschool},sdept=#{sdept},sinfo=#{sinfo},steacher=#{steacher} where sno=#{sno}
    </update>

    <!--删除用户-->
    <delete id="deleteStudentBySno" parameterType="int">
        delete from student where sno=#{sno}
    </delete>

    <!--根据姓名查询学生-->
    <select id="queryStudentBySname" resultType="User" >
        select * from student where sname like "%"#{sname}"%"
    </select>

    <!--根据姓名查询老师-->
    <select id="queryTeacherBySname" resultType="Teacher" >
        select * from teacher where sname like "%"#{sname}"%"
    </select>

    <!--根据工号查询老师-->
    <select id="queryTeacherByTno" resultType="Teacher" >
        select * from teacher where tno=#{tno}
    </select>



    <!--增加预约-->
    <insert id="addAppointment"  parameterType="Appointment">
        insert into s_book_t(sno,tno,info,statu) values (#{sno},#{tno},#{info},0)
    </insert>

    <!--取消预约-->
    <delete id="cancelAppointment" parameterType="Appointment">
        delete from s_book_t where sno=#{sno} and tno=#{tno}
    </delete>

    <!--根据学号查询预约-->
    <select id="queryAppointmentBySno" resultType="Appointment">
        select * from s_book_t where sno=#{sno}
    </select>

    <!--根据工号查询预约-->
    <select id="queryAppointmentByTno" resultType="Appointment">
        select * from s_book_t where tno=#{tno}
    </select>

    <!--修改预约-->
    <update id="changeAppointment" parameterType="Appointment">
        update s_book_t set info=#{info} where sno=#{sno} and tno=#{tno}
    </update>

    <!--完成预约-->
    <update id="finishAppointment" parameterType="Appointment">
         update s_book_t set statu=1 where sno=#{sno} and tno=#{tno}
    </update>

    <!--老师添加学生-->
    <insert id="teacherAddStudent" parameterType="Relation">
        insert into s_t(sno,tno) values (#{sno},#{tno})
    </insert>

    <!--学生添加老师-->
    <update id="stUDentAddTeacher" parameterType="Relation">
        update student set steacher=#{tno}
    </update>

</mapper>